Here's a systematic strategy we'll apply for solving problems:

* State the problem clearly. Identify the input & output formats.
* Come up with some example inputs & outputs. Try to cover all edge cases.
* Come up with a correct solution for the problem. State it in plain English.
* Implement the solution and test it using example inputs. Fix bugs, if any.
* Analyze the algorithm's complexity and identify inefficiencies, if any.
* Apply the right technique to overcome the inefficiency. Repeat steps 3 to 6.

In [31]:
#cards = [13, 11, 10, 7, 4, 3, 1, 0]
#query = 7 #szukany numer w liście
#output = 3 # pozycja w liście

In [32]:
def locate_card(cards, query):
    position = 0
    while position < len(cards):
        if cards[position] == query:
            return position
        position += 1
    return -1

In [33]:
test = {
    'input': { 
        'cards': [13, 11, 10, 7, 4, 3, 1, 0], 
        'query': 7
    },
    'output': 3
}

locate_card(**test['input']) == test['output']

True

In [34]:
!pip install jovian --upgrade --quiet
from jovian.pythondsa import evaluate_test_case

evaluate_test_case(locate_card, test)

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.005 ms

Test Result:
PASSED

(3, True, 0.005)

In [35]:
tests = []

tests.append(test)

tests.append({
    'input': {
        'cards': [13, 11, 10, 7, 4, 3, 1, 0],
        'query': 1
    },
    'output': 6
})

In [36]:
# query is the first element
tests.append({
    'input': {
        'cards': [4, 2, 1, -1],
        'query': 4
    },
    'output': 0
})

In [37]:
# query is the last element
tests.append({
    'input': {
        'cards': [3, -1, -9, -127],
        'query': -127
    },
    'output': 3
})

In [38]:
# cards contains just one element, query
tests.append({
    'input': {
        'cards': [6],
        'query': 6
    },
    'output': 0 
})

In [39]:
# cards does not contain query 
tests.append({
    'input': {
        'cards': [9, 7, 5, 2, -9],
        'query': 4
    },
    'output': -1
})

In [40]:
# cards is empty
tests.append({
    'input': {
        'cards': [],
        'query': 7
    },
    'output': -1
})

In [41]:
# numbers can repeat in cards
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 3
    },
    'output': 7
})

In [42]:
# query occurs multiple times
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 6
    },
    'output': 2
})

In [43]:
tests

[{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}, 'output': 6},
 {'input': {'cards': [4, 2, 1, -1], 'query': 4}, 'output': 0},
 {'input': {'cards': [3, -1, -9, -127], 'query': -127}, 'output': 3},
 {'input': {'cards': [6], 'query': 6}, 'output': 0},
 {'input': {'cards': [9, 7, 5, 2, -9], 'query': 4}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3},
  'output': 7},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
   'query': 6},
  'output': 2}]

In [44]:
from jovian.pythondsa import evaluate_test_cases
evaluate_test_cases(locate_card, tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [3, -1, -9, -127], 'query': -127}

Expected Output:
3


Actual Output:
3

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'cards': [6], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [], 'query': 7}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3}

Expected Output:
7


Actual Output:
7

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #8

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2


Actual Output:
2

Execution Time:
0.003 ms

Test Result:
PASSED


SUMMARY

TOTAL: 9, PASSED: 9, FAILED: 0

[(3, True, 0.004),
 (6, True, 0.004),
 (0, True, 0.002),
 (3, True, 0.004),
 (0, True, 0.002),
 (-1, True, 0.004),
 (-1, True, 0.002),
 (7, True, 0.004),
 (2, True, 0.003)]